form {
    margin-top: 14px;
    margin-left: 32vw;
    width: 28vw;
    height: 40vh;
    padding: 35px;
    border-radius: 20px;
    background-color: rgb(247, 245, 242);
    border: 1px solid brown;
    box-shadow: 5px 10px 17px rgb(248, 191, 191);
}

input[type="text"],
[type="password"] {
    padding: 9px;
    width: 82%;
    margin: 7px;
    margin-left: 0px;
    border: 1px solid lightblue;
    border-radius: 12px;
}

input[type=submit] {
    padding: 8px;
    width: 80px;
    border-radius: 4px;
    background-color: rgb(77, 64, 64);
    color: white;
    border: none;
    margin: 10px;
}

input[type=submit]:hover {
    background-color: green;
    color: black;
}

input:focus,
textarea:focus {
    background-color: rgb(242, 247, 248);
}

label {
    color: rgb(148, 105, 12);
}

h2 {
    color: rgb(35, 112, 102);
    text-align: center;
    margin-top: 5vh;
}

.title {
    color: blue;
    font-size: 21px;
    font-weight: bold;
}

.error {
    color: #FF0000;
}